#dashboard {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 100vh;
  align-items: top;
  background-color: #0d0d0d;
  border-right: 1.5px #474747 solid;
}

#logo {
  width: 75%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5vh;
}

.size-6 {
  width: 50%;
}

.dash-text {
  margin-top: 1vh;
  font-size: 12px;
}

.dash-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  text-align: center;
}

.version-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;          
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;
  transform: translateY(1px);
}