.homepage-container {
    display: flex;
    flex-direction: column;
    background-color: #1111;
    width: 100%;
}

/* Top bar container */
.searchbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d0d0d;
    width: 100%;
    height: 20vh;
}

/* Search bar wrapper (keeps icon positioned nicely) */
.searchbar-wrapper {
    position: relative;
    width: 70%;
    height: 30%;
}

/* Search input */
#websearch {
    width: 100%;
    height: 100%;
    border-radius: 2em;
    font-size: 20px;
    color: rgb(158, 158, 158);
    padding-left: 7vh;
    border: 1px solid grey; /* matches icon color */
    outline: none;
    transition: all 0.3s ease; /* smooth animation on focus */
}

/* Focus state */
#websearch:focus {
    /* border: 2px solid #33f6c9; vibrant color */
    box-shadow: 0 0 10px #33f6c9;
}

/* Icon stays locked to left side of bar */
#searchicon {
    position: absolute;
    left: 1.8vh;
    top: 71%;
    transform: translateY(-50%);
    color: rgb(175, 175, 182);
    font-size: 22px;
    pointer-events: none;
}

#back-button {
    position: relative;
    height: 57px;
    width: 57px;
    border-radius: 100%;
    border: 1px solid grey;
    background-color: #3b3b3b;
    margin-right: 20px;
}

#back-button-icon {
    margin-top: 13px;
    margin-left: 13px;
    color: rgb(175, 175, 182);
}

#back-button:hover {
    border: 1px solid #33f6c9;
}