#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  padding: 16px;
  background-color: #0d0d0d; /* smoky black */
  border-radius: 12px;
  border: 0.5px solid #33f6c9; /* subtle structure */
  box-shadow: 0 4px 20px rgba(59, 179, 164, 0.08); /* teal-tinted shadow */
  color: #e6e6e6;
  transition: all 0.25s ease;
  overflow-y: scroll;
  height: 70vh;
  margin-left: 2rem;
  margin-top: 2rem;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  /* box-shadow: 0 7px 20px rgba(59, 179, 164, 0.08); */
}

.container::-webkit-scrollbar {
  display: none;
}

